<launch>
  <node pkg="apriltags_ros" type="apriltag_detector_node" name="apriltag_detector2" output="screen">
    <rosparam param="tag_descriptions">[
      {id: 0, size: 0.056},
      {id: 1, size: 0.056, frame_id: a_frame},
      {id: 2, size: 0.056},
      {id: 3, size: 0.056},
      {id: 4, size: 0.056},
      {id: 6, size: 0.056},
      {id: 7, size: 0.056},
      {id: 8, size: 0.056},
      {id: 5, size: 0.056}]
    </rosparam>
    <rosparam param="camera_name">/cameraUP</rosparam>
  </node>
</launch>
